# Railway akan otomatis mengisi DATABASE_URL kalau Anda menambahkan plugin PostgreSQL.
# Variabel di bawah ini set manual lewat tab "Variables" di Railway.

PASS_PPIC=ganti-passcode-ppic
PASS_WH=ganti-passcode-wh
PASS_SF=ganti-passcode-sf
AUTH_SECRET=ganti-dengan-string-acak-panjang
